<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'findfood/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'findfood/css/index.css' %}">
    <script defer src="{% static 'findfood/javascript/cookies.js' %}"></script>
</head>
<body>
    <div class="">
        TITLE
    </div>

    <div>
        <input type="text" id="usernameInput" placeholder="Username">
        <button id="setCookieButton">Search Room</button>
    </div>


</body>
</html>
