<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhS2ZIKqDWAjkXd30MG58j-LSPV4asKjs&libraries=places,geometry"></script>
    <link rel="stylesheet" href="{% static 'findfood/css/room.css' %}">
    <link rel="shortcut icon" href="#">
</head>
<body>
    <div id="map"></div>
    
    <div id="searchbox">
        <input id="search-input" type="text" placeholder="Search for places...">
        <button id="search-button">Search</button>
    </div>

    <div id="chatbox">
       
        <textarea id="chat-log" cols="100" rows="20"></textarea><br>
        <input id="chat-message-input" type="text" size="100">
        <input id="chat-message-submit" type="button" value="Send">
        {{ room_name|json_script:"room-name" }}
    </div>

    <script src="{% static 'findfood/javascript/map.js' %}"></script>
    <script>

    </script>
</body>
</html>
